REACT_APP_API_URL=https://example.example.com
REACT_APP_DOMAIN=localhost
LIT_ACTION_PKP=0x0
POLYBASE_JOKINGON_COLLECTION=jokingon
POLYBASE_JOKINGON_COLLECTION_URL=https://testnet.polybase.xyz/collections/jokingon
POLYBASE_JOKINGON_COLLECTION_EXPLORER_URL=https://explorer.testnet.polybase.xyz/collections/jokingon